<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Weather Portal</title>
</head>
<body>
	<h1>Welcome to weather portal</h1>
	<form action="/weather">
		<input type="text" name="city" /> <input type="submit" value="submit">
	</form>

	<table>
		<tr>
			<td>City</td>
			<td th:text="${weather.cityName}">City</td>
		</tr>
		<tr>
			<td>Country Code</td>
			<td th:text="${weather.countryName}"></td>
		</tr>
	</table>

	<table>
		<tr>
			<th>Date</th>
			<th>Condition</th>
			<th>Description</th>
		</tr>
		<tr th:each="daydetail : ${weather.dayDetails}">
			<td th:text="${daydetail.date}"></td>
			<td th:text="${daydetail.condition}"></td>
			<td th:text="${daydetail.description}"></td>
		</tr>
	</table>


</body>
</html>